.ctrlbar{
  transition: all .3s ease-in-out;
  top: 30px;
  opacity: 0;
  position: absolute;
  margin-top: 0 !important;
  right: 10px;
  margin: 0 !important;
  padding: 4px 4px 0 4px;
}
.fill-event{
  height: 100%;
  width:100%;
}
.fc-event, .fc-bgevent{
  transition: all .3s ease-in-out;
}
.cal-title {
  border-radius: .5rem .5rem 0 0;
    min-height: 25px;
}
.fc-bgevent .fill-event{
  border-radius: .5rem;
}
.fc-event.past-event .fc-resizer{
  display: none;
}

.fc-event .fill-event:hover .ctrlbar, 
.fc-bgevent .fill-event:hover .ctrlbar,
  .fc-event .fill-event.hover .ctrlbar, 
.fc-bgevent .fill-event.hover .ctrlbar{
  top: 0 !important;
  right:0;
  opacity: 1 !important;
}

.fc-event-container .fc-event:hover {
  position: absolute;
  min-height: 84px;
  z-index: 3 !important;
}
.fc-header-toolbar{
  display:none;
}
.fc-time-grid .fc-event {
  padding: .5rem;
}

.fc-axis.fc-time.fc-widget-content {
    background-color: #fff;
    opacity: 1;
}
.fc-time-grid-container, .fc-time-grid {
  height: 100% !important;
}

.fc-time-grid .fc-slats td {
    height: 3em;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
  border: 0;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td {
    background: none;
}

#calendar .fc-event .btn-xs.btn-light {
font-size: 1rem;
color: #fff ;
background-color: transparent;
border: none !important;
}

#calendar .fc-event .btn-xs.btn-light:hover {
font-size: 1rem;
color: rgb(233, 233, 233) ;
background-color: rgba(255,255,255,.4);
}
#calendar .fc-time-grid .fc-event{
padding: .3rem;
}
.preview-pop .swal2-content #swal2-content{
width: 70%;
text-align: left;
margin:0 auto;
}
.fc-month-view .fc-day-grid-container.fc-scroller {
  height: auto!important;
  overflow-y: auto;
}

.fc-bgevent, .fc-event{
  box-shadow: 0 .2rem 1rem 0 rgba(0,0,0,0);
}
.fc-event:hover{
  box-shadow: 0 .2rem 1rem 0 rgba(0,0,0,.3);
}
.fc-bgevent-skeleton .fc-bgevent,
.fc-content-col .fc-bgevent:hover, 
.fc-content-col .fc-bgevent.hover, 
.fc-content-col .fc-bgevent.opening.extra.hover{
  box-shadow: 0 .2rem 1rem 0 rgba(0,0,0,.08);
   border: none;
  opacity: 1;
}
  .fc-content-col .fc-bgevent:hover, 
.fc-content-col .fc-bgevent.hover, 
.fc-content-col .fc-bgevent.opening.extra.hover{
  opacity: .8 !important;
}



.fc-bgevent.debugging{
  opacity: 1;
  border-radius: .5rem;
  z-index: 1;
  background-color: #94d576;
}




.fc-bgevent.busy, .fc-bgevent.calendar {
    z-index: 4;
    border-radius: .5rem;
    background-color:rgb(242, 242, 242);
    border: 2px dashed #dadada;
    background-size: auto auto;
    
}
.past-event,
.fc-bg .fc-day.fc-past,
.fc-time-grid .fc-now-indicator-line,
.fc-bgevent.busy, .fc-bgevent.calendar,
.striped-bg{
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23ffffff' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23ffffff' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E") !important;
}
.fc-bgevent.calendar {
    z-index: 3;
}

.skel-past .fc-bgevent.calendar {
    display:none;
}


.fc-bgevent {
    opacity: 1;
}

.fc-day-header span, .fc-day-header a{
  font-weight: normal;
}
.fc-today span, .fc-today a{
  color: #6664cb;
}
.fc-past span,  .fc-past a{
  color:#ccc !important;
}

.fc-bg .fc-day, .fc-unthemed td.fc-day.fc-today {
  background-color: #fff;
  border: 1px solid #eaeaea;
}
.fc-bg .fc-day.fc-today.fc-past{
  background-color: #f9f9f9;

}

.fc-bg .fc-day.fc-past{
  border: 2px solid #f3f3f3;
    z-index: 3;
    border-radius: .5rem;
    background-color: #f9f9f9;
    background-size: auto auto;
}
.fc-bgevent.past-event{
  display: none;
}
.past-event{
  background-size: auto auto !important;
  opacity: .6 !important;
  background-color: rgb(240, 239, 239) !important;

}
.past-event .fc-bg{
  background-color: transparent !important;
   
}
.fc-event.past-event {
  border-color: transparent !important;
}

.past-event:hover{
  opacity: 1 !important;
}

.fc-time-grid .fc-bg table, .fc-time-grid .fc-content-skeleton table {
  border-collapse: separate;
  border-spacing: .3rem 0;
}

.fc-axis.fc-time.fc-widget-content {
    font-size: .8rem;
}

.fc-time-grid-event .fc-content {
   color:#fff;
}
.fc-allow-mouse-resize .fc-resizer.fc-end-resizer {
    width: 100%;
    height: 20px;
    left: 0;
    margin-left: 0;
    border-radius: 0 0 8px 8px;
    color: #fff;
    background-color: rgba(0,0,0,.1);
    border: none;
    text-align: center;
    z-index:10;
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer::before {
    content: "\f346";
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer::after {
    content: "";
    display: none;
}

.fc-highlight-container .fc-highlight {
  background-color: transparent;
  border-color: transparent;
}

.fc-event-container.fc-mirror-container .fc-event{
  background-color: rgba(172, 137, 196, 0.3) !important;
  border-color: rgba(214, 179, 238, 0.3) !important;
  font-size: 1.4rem;
  text-align: center;
}

.fc-event-container.fc-mirror-container .fc-event{
  background-color: rgba(172, 137, 196, 0.3);
  border-color: rgba(214, 179, 238, 0.3);
  font-size: 1.4rem;
  text-align: center;
}

.fc-event-container.fc-mirror-container .fc-event .fc-time{
  color:#776e6e;
}

.fc-event.past-event {
  cursor:default;
  background-image: none !important;
}

.fc-bg .fc-day, .fc-unthemed td.fc-day.fc-today, .fc-bgevent.opening, .fc-time-grid .fc-event, .fc-event{
  border-radius: 1rem;
}

.fc-not-allowed .fc-event .fc-bg{
  background-color:#222 ;
  border:none;
}
.fc-not-allowed .fc-event{
  border:none;
}
.fc-not-allowed .fc-event .dashicons-trash::before {
  content: "\f153";
}


.swal2-popup .swal2-title{
  padding: 0 1rem;
}

.fc-slats table tbody tr .fc-axis.fc-time.fc-widget-content span {
  position: relative;
}
.fc-slats table tbody tr .fc-axis.fc-time.fc-widget-content span::after {
  content: " ";
  border-top: 1px solid #a4a4a4;
  width: .2rem;
  display: block;
  position: absolute;
  top: -16px;
  right: -14px;
}

.fc-slats table tbody tr:first-of-type td span::after{
display: none !important;
}

.wrap {
  display: flex;
  width: 100%;
}
.fc-day-header{
  text-transform: capitalize;
}

.fc-content-skeleton .fc-now-indicator-arrow{
  border-color: #6664cb;
}

.fc-content-skeleton table .fc-now-indicator-arrow{
  border: none;
  border-top-color: #6664cb;
  border-top-style: dashed;
  border-top-width: 2px;
  z-index: 9;
}

.fc-time-grid .fc-now-indicator-line{
border: 2px solid #f3f3f3;
border-bottom: 2px dashed #6664cb;
z-index: 3;
border-radius: .5rem;
background-color: #f9f9f9;
background-size: auto auto;
}

.crib{
position: absolute;
display: inline-block;
text-align: center;
top:30px;
left: 10px;
font-size: .7rem;
color: #f0f0f0;
border-top-left-radius: 1rem;
border-bottom-right-radius: 1rem;
padding: 0 14px;
transition: all .3s ease-in-out;
opacity:0;
height: 14px;
max-width: 50%;
padding: .3rem .8rem;
box-shadow: 0 .2rem 1rem 0 rgba(0,0,0,.3);
}

.fc-event .fill-event:hover .crib, 
.fc-bgevent .fill-event:hover .crib,
.fc-event .fill-event.hover .crib, 
.fc-bgevent .fill-event.hover .crib{
opacity: 1 !important;
top: 0px;
left: 0px;
overflow: hidden;
padding-left: .4rem;
padding-right: 1.2rem;
color: transparent;
width: 0;
}
.crib::first-letter{
font-size:.9rem;
font-weight:bold;
color:#fff;
}

.fc-event .fill-event:hover .crib:hover, 
.fc-bgevent .fill-event:hover .crib:hover,
.fc-event .fill-event.hover .crib:hover, 
.fc-bgevent .fill-event.hover .crib:hover{
overflow: none !important;
width: 100% !important;
color: #fff !important;
height: auto !important;
}

.crib.grey{background: #999;}
.crib.blue{background: #4481c3;}
.crib.red{background: #d13f3f;}
.crib.yel{background: #d1c53f;}
.crib.orange{background: #d1683f;}

.txt.grey{color: #999;}
.txt.blue{color: #4481c3;}
.txt.red{color: #d13f3f;}
.txt.yel{color: #d1c53f;}
.txt.orange{color: #d1683f;}

.fc-event .fc-bg {
  z-index: 1;
  background: rgba(0, 0, 0, 0.01);
  opacity: .25;
  border-radius: 1rem;
}
.fc-event:hover .fc-bg {
  z-index: 6;
  opacity: 1;
}

.calendar-overflow {
  overflow: auto;
}
#calendar {
  min-width: 794px;
  position: relative;
}

.btn-default {
    background-color: #f3f3f3;
}
.btn:hover {
    text-decoration: none !important;
}
.appointment-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.alert.top-right {
    z-index: 9002;
}
.calendar-wrap{
  position: relative;
  margin: 0 10px 0 0;
  font-size: 15px;
}


h1.h5{
  margin:0 .8rem;
}
h1.h2{
  padding:0 .5rem;
}



.btn-link {
  color: #4481c3;
}



.flex-md-row .dashicons{
font-size: 2rem;
height: 2rem;
width: 2rem;
}
#event-undefinedundefined .fc-bg {
background: #d4d4d4;
opacity: .7;
}
#event-undefinedundefined  {
background: none;
border: none;
}
#event-undefinedundefined .fc-time  {
color: #000;
font-size: 1.1rem;
}
.nowtime{
bottom: 0;
color: #6664cb;
text-align: center;
position: absolute;
width: 100%;
display: none;
}
.nowtime.show{
display: block;
}


#calendar .btn-xs .dashicons {
width: 1rem;
height: 1rem;
font-size: 1rem;
}

#calendar .btn-xs.btn-light {
font-size: 1rem;
border-radius: 8rem !important;
padding-top: .1rem !important;
}


.dd-search-results{
position: absolute;
background-color: #f8f9fa;
padding: 5px;
box-shadow: 4px 7px 8px 2px rgba(0,0,0,.1);
z-index: 5;
}

.calendar-wrap .fc-day-header span, .calendar-wrap .fc-day-header a {
  font-weight: normal;
  color: #777676;
}
.svg-inline--fa {
  width: 1.125em;
}
.buffer{
border: 1px dashed rgb(147, 144, 144);
background-color: rgb(255, 255, 255);
border-radius: 0 0 1rem 1rem;
text-align: center;
margin-top: .2rem;
position: absolute;
bottom: -1px;
width: 100%;
left: -1px;
color: #6d6d6d;
z-index:2;
}
.cal-title{
font-size: .8rem;
padding: .2rem;
padding-left: 2rem;
background-color: #d1683f;
color: #fff;
}


.calendar-wrap .card {
padding: .5em 1em;
max-width: 100%;
border-radius: 2rem;
}

.calendar-wrap .dashicons-testimonial{
font-size: 5rem;
width: 8rem;
height: 100%;
padding: 3rem 0;
border-radius: 1rem;
margin: 0 1rem;
}

.calendar-wrap .welcome-list li{
margin-bottom:0;
}

.calendar-wrap .wbtn.wbtn-secondary.wbtn-cell{
  margin: .5rem;
}

.cal-staff-img{
border-radius: 50%;
}


.cal-staff-img .wstaff-img{
transition: all .3s ease-in-out;
background-color:#fff;
box-shadow: 0px 8px 10px 0 rgba(0,0,0,.02);
margin: 0 .4rem !important;
}

.cal-staff-img .wstaff-img{
filter:grayscale(.9);
}

.cal-staff-img.activeStaff .wstaff-img{
border: 2px solid var(--primary);
filter:grayscale(0);
transform: scale(1);
}
.cal-staff-img .wstaff-img:hover{
filter:grayscale(0);
border: 1px dashed var(--primary);
box-shadow: 0px 8px 10px 0 rgba(0,0,0,.08);
transform: scale(1.05);
}

.staff-bar{
max-width:415px;
overflow-x: scroll;
overflow-y:hidden
}