{
    "presets": [
      ["es2015", { "modules": false, "loose": true }],
      ["stage-2"],
      ["env", {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
        }
      }]
    ],
    "plugins": [
      "syntax-dynamic-import", 
      ["transform-class-properties", { "loose": true }], 
      "transform-vue-jsx",
      [
        "transform-imports", {
          "@fortawesome/free-solid-svg-icons": {
            "transform": "@fortawesome/free-solid-svg-icons/${member}",
            "skipDefaultConversion": true
          },
          "@fortawesome/free-brand-svg-icons": {
            "transform": "@fortawesome/free-brand-svg-icons/${member}",
            "skipDefaultConversion": true
          },
        }
      ]]
  }