[data-tt] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
[data-tt]:before,
[data-tt]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tt]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: -5px;
  margin-left: -48px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba($primary, .8);
  color: #fff;
  content: attr(data-tt);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  min-width: 100px;
}

[data-tt]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid rgba($primary, .9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-bottom: -10px;
}

[data-tt]:hover:before,
[data-tt]:hover:after {
  visibility: visible;
  opacity: 1;
}

.tt-lg[data-tt]::before{
  min-width: 300px;
}
.tt-lg[data-tt]::before,
.tt-lg[data-tt]::after{
  bottom: 140%;
  left: 10px;
}

.tt-below[data-tt]:before {
  top: 102%;
  bottom: auto;
}

.tt-below[data-tt]:after {
  top: 90%;
  transform: rotate(180deg);
}

.tt-left[data-tt]:before {
  left: -195%;
  bottom: 0;
}

.tt-left[data-tt]:after {
  left: 3px;
  transform: rotate(-90deg);
  top: 50%;
}

.tt-right[data-tt]:before {
  right: -195%;
  bottom: 0;
}

.tt-right[data-tt]:after {
  right: 3px;
  transform: rotate(90deg);
  top: 50%;
}


.tt-success[data-tt]::before {
  background-color: rgba(83, 168, 65, 0.8);
  content: '\2714 ' attr(data-tt);
}
.tt-disabled[data-tt]::before {
  background-color: rgba(144, 144, 159, 0.8);
  content: '\2716 ' attr(data-tt);
}

.tt-disabled img {
  filter:grayscale(1);
}
.tt-disabled:hover img {
  filter:grayscale(0);
}

.tt-danger[data-tt]::before{
  background-color: rgba($danger, 1);
}
// .tt-success[data-tt]::before{
//   background-color: rgba($success, 1);
// }
.tt-info[data-tt]::before{
  background-color: #9f9f9f;
}

.tt-danger[data-tt]::after{
  border-top: 5px solid rgba($danger, 1);
}
.tt-success[data-tt]::after{
  border-top: 5px solid rgba($success, 1);
}
.tt-info[data-tt]::after{
  border-top: 5px solid #9f9f9f;
}