.wclosable .wclose{
    width: 15px;
    display: inline-block;
    height: 15px;
    position: relative;
    margin-left: .4em;
}
.wclosable .wclose::after {
    transform: translateX(15px) rotate(-45deg);
}
.wclosable .wclose::before, .wclosable .wclose::after {
    content: ' ';
    position: absolute;
}
.wclosable .wclose::before {
    transform: translateX(15px) rotate(45deg);
}
.wclosable .wclose:hover::before, .wclosable .wclose:hover::after {
    width: 2px;
}


.wclosable .wclose::before, .wclosable .wclose::after  {
    height: 10px;
    width: 1px;
    top: 3px;
    right: 22px;
}