@font-face {
    font-family: 'wappointment';
    src: url('../fonts/wappointment.eot');
    src: url('../fonts/wappointment.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wappointment.woff') format('woff'),
         url('../fonts/wappointment.ttf') format('truetype'),
         url('../fonts/wappointment.svg#wappointment') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='dashicons-wappo']:before{
	display: inline-block;
   font-family: 'wappointment';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.dashicons-wappointment:before{content:'\0057';}


.wp-list-table.plugins tr[data-slug="wappointment"] .column-description .notice-info{
    border-left-color: #6664cb;
}

.wp-list-table.plugins tr[data-slug="wappointment"] .column-description .button.button-primary.button-large{
    background-color: #6664cb;
    color: #fff;
    text-shadow: none;
    border: none;
    box-shadow: none;
}
    

.wp-list-table.plugins tr.just-activated[data-slug="wappointment"] th,
.wp-list-table.plugins tr.just-activated[data-slug="wappointment"] td{
    background-color: #ededff;
    animation-name: justactivated;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}  

.wappo_whatsnew{
    color: #6664cb;
font-weight: bold;
font-size: 1.1em;
text-decoration: underline !important;

animation-name: updatesreview;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.wappo-modal-on{
    overflow: hidden;
}
.wappo-field-row{
    margin-top: .6rem;
}

.wappo-feed-buttons{
    display: flex;
    align-items: center;
    margin-top: .6rem;
}
.wappo-feed-buttons .button{
    margin-right : .4rem;
}
#wappo-feedback h2{
    color: #5d6164;
    display: flex;
    align-items: center;
}
#wappo-feedback img{
    margin-right: 12px;
}
#wappo-feedback-skip {
    margin-right:.4rem;
    color: #979797;
}

#wappo-feedback{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,.4);
    display:none;
    overflow: scroll;
}
#wappo-feedback.show{
    display:block;
}

#wappo-feedback-content{
    display: block;
    position: relative;
    top: 30%;
    width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    margin: 0 auto;
}

.wappo-loader.wap-hidden,
.reason-details.wap-hidden{
    display:none;
}

.wappo-loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #6664cb; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .8s ease-in-out infinite;
    margin: 0 auto;
  }

  .notice-warning .w-major-update-warning__separator {
    border: 1px solid #6664cb;
}
.w-major-update-warning__separator {
    margin: 15px -12px;
}

.w-major-update-warning + p {
    display: none;
}

/*RTL rules*/
html[dir=rtl] .ProseMirror p{
    text-align: right;
}

html[dir=rtl] body .wappointment-wrap,
html[dir=rtl] body .wappointment-wrap h1,
html[dir=rtl] body .wappointment-wrap div{
    text-align: right;
}


  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes updatesreview {
    0% {
        color: #6664cb;
    }
    50% {
        color: #ff691f;
    }
    100% {
        color: #6664cb;
    }

}
@keyframes justactivated {
    0% {
        background-color: #ededff;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #ededff;
    }

}