#wpbody-content > .error, 
#wpbody-content > .notice-warning, 
#wpbody-content > .notice-success,
#wpbody-content > .updated {
    display:none;
}
.wappointment-wrap .form-control::placeholder {
    color: #dadada;
    opacity: 1;
}
