#wpbody-content > div{
    display:none !important;
}
#wpbody-content > div.wappointment-wrap{
    display:block !important;
}
.wappointment-wrap .form-control::placeholder {
    color: #dadada;
    opacity: 1;
}

.wappointment-wrap .form-control {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
